/*html{
    background: url("../images/CCE-29-09-18.jpg") no-repeat center center fixed;
}*/

/*.background-image{
    background-color: pink;
    background-image: url("../images/TrainStation.jpg") !important;

}*/
body {
    background-image: url("../images/TrainStation.jpg");

    font-family : 'Aref Ruqaa', serif !important;
    text-align: center;
}
.jumbotron-fluid{
    padding-top: 50px;
    padding-bottom: 45px;
    background-color: bisque;
    text-align: center;
}
#formdata{
    border: 10px;
    outline-color: black;
}

h1 {
    color: #fff;
}


.col-md-12.spaceschedule {
    background-color: bisque;
    padding: 10px;
}

.train-header {
    background-color: #bebebe;
}

.form-data {
    background-color: #faf9f9;
}

.form-bg {
    background-color: bisque;
}

.form-group {
    margin: 40px;
    outline-style: auto;
}

.btn {
    margin-left: 40px;
    margin-bottom: 60px;
    background-color: lightgrey;
    color: rgb(8, 6, 8);
    padding: 10px 25px; 
}

.form-title {
    background-color: #bebebe;
    margin: 0;
}

.form-control {
    outline-width: 10px;
    border: 10px;
    padding: 10px;
    margin: 25px;
}

